
*.DS_Store


**/xcuserdata/

/Carthage/Build/
/iSEPTA/Build
/Utilities/format.log
Carthage/Checkouts/
Carthage/
/SeptaSchedule/SeptaScheduleTests/PreloadedDatabase/SEPTA.sqlite
SEPTA.sqlite
SEPTA.zip
/iSEPTA/.idea
/iSEPTA/iSEPTA/Info/network.plist
