github "marmelroy/Zip"
github "stephencelis/SQLite.swift" ~> 0.11.3
binary "https://raw.githubusercontent.com/Building42/Specs/master/Carthage/Fabric.json"
github "ReSwift/ReSwift"
binary "https://raw.githubusercontent.com/Building42/Specs/master/Carthage/Crashlytics.json"