<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>map</key>
	<string>https://www.septa.org/maps/pdf/click-map.pdf</string>
	<key>fares</key>
	<string>http://septa.org/m/fares/ticket/</string>
	<key>septaKey</key>
	<string>http://www.septa.org/key/</string>
</dict>
</plist>
