<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chat</key>
	<string>https://customerservice.septa.org/chat/phplive.php?d=0&amp;onpage=livechatimagelink&amp;title=Live+Chat+Direct+Link</string>
	<key>comment</key>
	<string>http://www3.septa.org/customerservice/VeritasFormMobile/</string>
	<key>events</key>
	<string>http://www.septa.org/service/special-events-mobile.html</string>
	<key>facebook</key>
	<string>https://www.facebook.com/septaphilly</string>
	<key>fares</key>
	<string>http://septa.org/m/fares/ticket/</string>
	<key>map</key>
	<string>https://www.septa.org/maps/pdf/click-map.pdf</string>
	<key>passPerks</key>
	<string>http://iseptaphilly.com/perks</string>
	<key>phone</key>
	<string>tel://2155807800</string>
	<key>septaKey</key>
	<string>http://www.septa.org/key/index.html</string>
	<key>tdd</key>
	<string>tel://2155807853</string>
	<key>twitter</key>
	<string>http://www.septa.org/alert/twitter.html</string>
</dict>
</plist>
